# Ignore all files and directories by default
/*

# Allow the current directory's files
!/*

# Ignore specific files and directories
CPP*
Test*
Maria*
maze*
*.log
*.tmp
__pycache__/
.vscode/
.DS_Store